<div class="inner-adjust">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"> Products list </h1>
        <button class="btn btn-outline-primary action" (click)="addProduct()" type="button">
            Add new product
        </button>
    </div>
    <!-- Show user data when logged in -->
    <div class="row">
        <div class="">
            <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col col-md-2 image-col">
                        <img class="image" [src] = "item.payload.doc.data().photoUrl">
                    </div>
                    <div class="col col-md-8 text-col">
                        <h2> Product name: <strong> {{item.payload.doc.data().name}} </strong> </h2>
                        <h3> Description: <strong> {{item.payload.doc.data().description}} </strong> </h3>
                        <h3> Price: <strong> {{item.payload.doc.data().price}} </strong> </h3>
                    </div>
                    <!-- <div class="col col-md-2 actions-col">
                        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
                            <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>