<div class="">
    <div class="list-header">
        <div class="text-center">
            <h1>  All products from all stores </h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="">
            <div class="row row-container">
                <div *ngFor="let item of items | async" class="col-sm-12 col-md-6 col-lg-3 card-container">          
                    <div> asdasdasd</div>        
                    <mat-card class="">
                        <img mat-card-image src="{{item.photoUrl}}" 
                            width="250" height="250" class="product-img" [alt]="item.name">
                        <mat-card-title>
                            <h2>Product: {{ item.name}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h4> Price: {{ item.price | currency}} </h4>
                        </mat-card-subtitle>
                        <mat-card-content color="accent">
                            <h4>Description</h4>
                            <h5>{{ item.description }}</h5>
                        </mat-card-content>

                        <!-- <mat-card-actions class="text-center">
                            <div class="text-center">
                                <button mat-button color="accent" (click)="viewDetails(item.payload.doc.id)">
                                    Go to store products                
                                </button>
                            </div>
                        </mat-card-actions> -->
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="">
    <div class="">
        <h1 class="h2"> Products list </h1>
        <button class="" (click)="addProduct()" type="button">
            Add new product
        </button>
    </div>
    !-- Show user data when logged in --
    <div class="row">
        <div class="">
            <div *ngFor="let item of items | async" class="">
                <div class="row">
                    <div class="col col-md-2 image-col">
                        <img width="250" height="250" class="image" src="{{ (item.photoUrl) ? item.photoUrl : 'https://i.pinimg.com/originals/8a/eb/d8/8aebd875fbddd22bf3971c3a7159bdc7.png' }}">
                    </div>
                    <div class="col col-md-8 text-col">
                        <h2> Product name: <strong> {{item.name}} </strong> </h2>
                        <h3> Description: <strong> {{item.description}} </strong> </h3>
                        <h3> Price: <strong> {{item.price}} </strong> </h3>
                    </div>
                    !-- <div class="col col-md-2 actions-col">
                        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
                            <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                        </button>
                    </div> --
                </div>
            </div>
        </div>
    </div>
</div> -->