<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>

        <a mat-list-item routerLink="/dashboard/user-info">
          <i class="material-icons">account_box</i>Profile
        </a>

        <a mat-list-item routerLink="/dashboard/store/list">
          <i class="material-icons">store</i>Stores
        </a>

        <a mat-list-item routerLink="/dashboard/product/list">
          <i class="fab fa-product-hunt" aria-hidden="true"></i>Products
        </a>
      
        <a mat-list-item (click)="authService.SignOut()"> 
          <i class="material-icons">exit_to_app</i>Log out 
        </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
      <div class="components-container">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>    