.card-container {
    border: 2px pink solid;
    box-shadow: 0 0 2px pink;
    background-color: ghostwhite;
    margin: 1%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.list-header h1 {
    letter-spacing: 3px;
    margin: 20px;
    font-size: 26px;

}

.list-header button {
    margin: 10px;
}

.row-container {
    /* justify-content: space-between;  */
}

.mat-button {
    font-size: 18px;
    box-shadow: 0 0 2px pink;
}
