<div class="container">
    <div class="list-header">
        <div class="text-center">
            <h1> Stores list </h1>
            <button mat-button color="accent" (click)="addStore()">
                <h2>Add new store</h2>
            </button>
        </div>
        <!-- Show user data when logged in -->
        <div class="container">
            <div class="row row-container">
                <div *ngFor="let item of items" class="col-lg-3 col-md-6 col-sm-12 card-container">
                    <mat-card class="store-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h2> Store name: <strong> {{item.payload.doc.data().name}} </strong> </h2>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <h3> Address: <strong> {{item.payload.doc.data().address}} </strong> </h3>
                                <h3> Phone number: <strong> {{item.payload.doc.data().phoneNumber}} </strong> </h3>
                            </mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-actions>
                            <button class="btn btn-outline-primary action" (click)="viewDetails(item.payload.doc.id)" type="button">
                                            <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
                                        </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>